<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header"></div>
<link th:href="@{/styles/actor-cards.css}" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-9 card-container">
            <div class="card-flip">
                <div class="card front">
                    <img class="card-img-left" th:src="${actor.photoUrl}">
                    <h5 class="card-title" th:text="${actor.name}"></h5>
                    <div class="card-text" th:text="${actor.biography}"></div>
                    <h1></h1>
                </div>
                <div class="card back">
                    <h1 class="card-title">Movies: </h1>
                    <div class="card-body">
                        <ul th:each="movie: ${actor.movies}">
                            <li th:text="${movie.title}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments :: footer"></div>
<script th:src="@{/scripts/actor-cards.js}"></script>
</html>