<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header">HEADER STUFF</div>

<!--NOTE: Generated url format actors?page=1&size=10  -->
<div class="container">
    <div class="row mx-auto my-2 py-3">
        <h3>Actors</h3>
    </div>
    <nav aria-label="Page navigation" class="w-50">
        <ul class="pagination">
            <!-- Example adding class .example -->
            <li th:class="${firstPage} ? 'disabled page-item' : 'page-item'">
                <a th:class="page-link"
                   th:href="@{${'/actor'}(page=1,size=${actorPage.size})}"> << </a>
            </li>

            <li th:class="${firstPage} ? 'disabled page-item' : 'page-item'">
                <a th:if="${firstPage}" th:class="page-link"> < </a>
                <a th:if="${not firstPage}" th:class="page-link"
                   th:href="@{${'/actor'}(page=${currentPage-1},size=${actorPage.size})}"> < </a>
            </li>
            <li th:if="${actorPage.totalPages > 0}" th:class="${pgNumber==actorPage.number + 1} ? 'active page-item' : 'page-item'" th:each="pgNumber: ${pageRange}">
                <a th:href="@{/actor(page=${pgNumber}, size=${actorPage.size})}"
                   th:text=${pgNumber}
                   th:class="page-link"></a>
            </li>

            <li th:class="${lastPage} ? 'disabled page-item' : 'page-item'">
                <a th:if="${lastPage}" th:class="page-link"> > </a>
                <a th:if="${not lastPage}" th:class="page-link"
                   th:href="@{${'/actor'}(page=${currentPage+1},size=${actorPage.size})}"> > </a>
            </li>

            <li th:class="${lastPage} ? 'disabled page-item' : 'page-item'">
                <a th:if="${lastPage}" th:class="page-link"> >> </a>
                <a th:if="${not lastPage}" th:class="page-link"
                   th:href="@{${'/actor'}(page=${totalPages},size=${actorPage.size})}"> >> </a>
            </li>
        </ul>
    </nav>
       <div class="row mx-auto my-auto py-auto">
        <div class="card-deck">
        <div class="card result-card m-2" th:each="actor: ${actorPage.content}">
            <a th:href=" '/actor/' + ${actor.id}"><img class="rounded img-fluid" th:src="${actor.photoUrl}"></a>
            <div class="card-body">
                <a th:href=" '/actor/' + ${actor.id}"><h5 class="card-title" th:text="${actor.name}">
                </h5></a>
            </div>
        </div>
        </div>
    </div>
</div>
<div th:insert="fragments :: footer">FOOTER STUFF</div>
</html>