<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header"></div>
<link th:href="@{/styles/edit.css}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto mt-5">
            <div class="card">
                <form method="post" th:action="'/edit-movie/actors?id=' + ${movieId}">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <input class="form-control" type="text" placeholder="Search actors by name" aria-label="Search" name="q">
                        </div>
                        <div class="col-lg-5 mx-auto my-auto">
                            <button type="submit" name="formAction" value="search" class="btn btn-outline-light btn-lg">Search</button>
                        </div>
                        <div class="col-lg-5 mx-auto">
                            <div class="card-body">
                                <div class="form-check" th:each="actor: ${actors}">
                                    <input class="form-check-input" type="checkbox" value="true" th:id="${actor.id}" th:name="${actor.id}">
                                    <label class="form-check-label" th:attr="for=${actor.id}" th:text="${actor.name}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mx-auto">

                            <!-- Newly added actors here -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 mx-auto my-auto">
                            <button type="submit" name="formAction" value="save" class="btn btn-outline-light btn-lg">Save and Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:insert="fragments :: footer"></div>
<script src="/scripts/update.js"></script>
</html>