<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header"></div>
<link th:href="@{/styles/edit.css}" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto mt-5">
            <div class="card">
                <form method="post" th:action="'/edit-movie?id=' + ${movie.id}">
                    <div class="form-row">
                        <div class="form-group w-75 ml-3">
                            <label for="movieTitle">Title</label>
                            <input class="form-control" type="text" th:attr="value=${movie.title}" id="movieTitle" name="title">
                            <label for="movieOverview">Overview</label>
                            <textarea class="form-control" id="movieOverview" name="overview" th:text="${movie.overview}" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="form-row ml-3">
                        <button type="submit" class="btn btn-outline-light">Save and Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
</html>