<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments :: header"></div>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">Movie Database</h1>
            <p class="lead">Top movies and actors.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w200//pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
                     alt="movie image">
                <div class="card-body">
                    <h5 class="card-title">Movies</h5>
                    <p class="card-text">Some movies...</p>
                    <a href="movies.html" class="btn btn-outline-light">Go to Movies</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w200//fbvQc6utpq9wHojQ7wclzEVViEF.jpg"
                     alt="actor image">
                <div class="card-body">
                    <h5 class="card-title">Actors</h5>
                    <p class="card-text">...and the actors who starred in them.</p>
                    <a href="actors.html" class="btn btn-outline-light">Go to Actors</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<footer>

</footer>
<div th:insert="fragments :: footer"></div>
</html>