<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header">HEADER STUFF</div>

<!--NOTE: Generated url format movies?page=1&size=10  -->

<div class="row mx-auto my-auto py-auto">
    <div class="card result-card m-2" th:each="movie: ${moviePage.content}">

        <!--<div class="card mx-auto my-0" style="max-width: 540px;" th:each="movie: ${moviePage.content}">-->
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:src="${movie.photoUrl}" class="rounded card-img-top img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href=" '/movie/' + ${movie.id}" th:text="${movie.title}"></a>
                    </h5>
                    <!--                    <ul class="card-text" th:each="movie: ${movie.movies}">-->
                    <!--                        <li><a th:href="'/movie/' + ${movie.id}" th:text="${movie.title}"></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
The following was sampled from this baeldung
https://www.baeldung.com/spring-thymeleaf-pagination
-->

<nav aria-label="Page navigation">

    <ul class="pagination">

        <li th:class="${firstPage} ? 'disabled page-item' : 'page-item'">
            <a th:if="${firstPage}" th:class="page-link">Previous</a>
            <a th:if="${not firstPage}" th:class="page-link"
               th:href="@{${'/movie'}(page=${currentPage-1},size=${moviePage.size})}">Previous</a>
        </li>

        <li th:if="${moviePage.totalPages > 0}" th:class="${pgNumber==moviePage.number + 1} ? 'active page-item' : 'page-item'" th:each="pgNumber: ${pageRange}">
            <a th:href="@{/movie(size=${moviePage.size}, page=${pgNumber})}"
               th:text=${pgNumber}
               th:class="page-link"></a>
        </li>


        <li th:class="${lastPage} ? 'disabled page-item' : 'page-item'">
            <a th:if="${lastPage}" th:class="page-link">Next</a>
            <a th:if="${not lastPage}" th:class="page-link"
               th:href="@{${'/movie'}(page=${currentPage+1},size=${moviePage.size})}">Next</a>
        </li>
    </ul>

</nav>

<!--DELETE IF SOLUTION WORKS-->
<!--<li th:class="${moviePage.number eq 0} ? 'disabled' : ''">-->
<!--    <a th:if="${not firstPage}"-->
<!--       th:href="@{${'/movie'}(page=${moviePage.number-1},size=${moviePage.size})}">Previous</a>-->
<!--    <a th:if="${firstPage}" href="javascript:void(0);">Previous</a>-->
<!--</li>-->

<!--<li th:if="${moviePage.totalPages > 0}" class="page-item" th:each="pageNumber : ${pageNumbers}">-->
<!--    <a class="page-link"-->
<!--       th:href="@{/movie(size=${moviePage.size}, page=${pageNumber})}"-->
<!--       th:text=${pageNumber}-->
<!--       th:class="${pageNumber==moviePage.number + 1} ? active"></a>-->
<!--</li>-->
<!--END OF DELETE BLOCK-->

<!--
The following was sampled from this stackoverflow
https://stackoverflow.com/questions/18490820/spring-thymeleaf-how-to-implement-pagination-for-a-list
-->

<!--<nav aria-label="Page navigation">-->
<!--    <ul class="pagination">-->
<!--        <li th:class="${moviePage.number eq 0} ? 'disabled' : ''">-->
<!--            <a th:if="${not firstPage}"-->
<!--               th:href="@{${'/movie'}(page=${moviePage.number-1},size=${moviePage.size})}">Previous</a>-->
<!--            <a th:if="${firstPage}" href="javascript:void(0);">Previous</a>-->
<!--        </li>-->

<!--        <li th:each="moviePage.number : ${#numbers.sequence(0, totalPages - 1)}"-->
<!--            th:class="${moviePage.number eq currentPage}? 'active' : ''">-->
<!--            <a th:if="${moviePage.number  eq currentPage}" href="javascript:void(0);">-->
<!--                <span th:text="${currentPage + 1}"></span>-->
<!--            </a>-->
<!--            <a th:if="${not (moviePage.number  eq currentPage)}"-->
<!--               th:href="@{${'/movie'}(page=${currentPage},size=${moviePage.size})}">-->
<!--                <span th:text="${currentPage + 1}"></span>-->
<!--            </a>-->

<!--        </li>-->
<!--        <li th:class="${moviePage.number + 1 ge totalPages} ? 'disabled' : ''">-->
<!--            <a th:if="${not lastPage}"-->
<!--               th:href="@{${'/movie'}(page=${moviePage.number+1},size=${moviePage.size})}">Next</a>-->
<!--            <a th:if="${lastPage}" href="javascript:void(0);">Next</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->


<div th:insert="fragments :: footer">FOOTER STUFF</div>
</html>