<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header"></div>

<div class="container">
    <div class="row mx-auto my-auto">
        <div class="col-lg-9">
            <!-- Advanced search filter box -->
            <div class="card">
                <form class="mt-2 mt-md-0" method="get" th:action="@{/search}">
                    <div class="row">
                        <div class="col-lg-3">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" name="actor">
                                <label class="form-check-label mx-2 my-2" for="defaultCheck1">
                                    Actors
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="defaultCheck2" name="movie">
                                <label class="form-check-label mx-2 my-2" for="defaultCheck2">
                                    Movies
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <a class="mx-1" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="#filerCollapse">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-outline-light my-2 my-sm-0" id="searchButton" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="collapse" id="filterCollapse">
                            <div class="form-check" th:each="genre: ${genres}">
                                <input class="form-check-input" type="checkbox" value="true" th:id="${genre.id}" th:name="${genre.id}">
                                <label class="form-check-label mx-2 my-2" th:attr="for=${genre.id}" th:text="${genre.name}"></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mx-auto my-2 py-3">
        <h3>Results</h3>
    </div>
    <div class="row mx-auto my-auto py-auto">
        <div class="card-deck">
            <div class="card result-card m-2" th:each="result: ${results}">
                <a th:href="'/' +${result.type} + '/' + ${result.id}"><img class="rounded img-fluid"
                                                                           th:src="${result.photoUrl}"></a>
                <div class="card-body">
                    <a th:href="'/' +${result.type} + '/' + ${result.id}"><h5 class="card-title"
                                                                              th:text="${result.header}"></h5></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="fragments :: footer"></div>
</html>