<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments :: header"></div>
<link th:href="@{/styles/update.css}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" id="addMovie-Select">New Movie</a>
<!--                    <a class="dropdown-item" href="#" id="editMovie-Select">Edit Movie</a>-->
                    <a class="dropdown-item" href="#" id="addActor-Select">New Actor</a>
<!--                    <a class="dropdown-item" href="#" id="editActor-Select">Edit Actor</a>-->
<!--                    <a class="dropdown-item" href="#" id="delete-Select">Delete</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto mt-5">

                <!-- Add Movie -->
                <div class="card crudForm" id ="addMovie">
                    <form method="post" th:action="@{/addMovie}" th:object="${MovieDTO}">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="movieName">Movie Title</label>
                                <input type="text" class="form-control" id="movieName" name="title" placeholder="Title" required="true">
                            </div>
                <!--            <div class="form-group col-md-3">-->
                <!--                <label for="movieGenre">Genre</label>-->
                <!--                <input type="text" class="form-control" id="movieGenre" placeholder="Genre">-->
                <!--            </div>-->
    <!--                        <div class="form-group col-md-3">-->
    <!--                            <label for="movieRating">Movie Rating</label>-->
    <!--                            <input type="text" class="form-control" id="movieRating" name="popularity" placeholder="Rating 1-10">-->
    <!--                        </div>-->
                            <div class="form-group col-md-3">
                                <label for="movieOverview">Movie Overview</label>
                                <input type="text" class="form-control" id="movieOverview" name="overview" placeholder="Overview" required="true">
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="moviePhotoURL">Please paste URL for movie poster image. (Try URL From TMDB)</label>
                            <input type="url" class="form-control" id="moviePhotoURL" name="photoURL" placeholder="URL Here Please">
                        </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <!-- Edit Movie -->
<!--                <form class="crudForm" id="editMovie"></form>-->

                <!-- Add Actor -->
                <div class="card crudForm" id="addActor">
                    <form method="post" th:action="@{/addActor}" th:object="${ActorDTO}">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="actorName">Actor Name</label>
                                <input type="text" class="form-control" id="actorName" name="name" placeholder="Actor Name" required="true">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="actorName">Biography</label>
                                <input type="text" class="form-control" id="actorBiography" name="biography" placeholder="Biography" required="true">
                            </div>
        <!--                    <div class="form-group col-md-3">-->
        <!--                        <label for="actorRating">Actor Rating</label>-->
        <!--                        <input type="text" class="form-control" id="actorRating" name="popularity" placeholder="Rating 1-10">-->
        <!--                    </div>-->
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="actorPhotoURL">Please paste URL for movie poster image. (Try URL From TMDB)</label>
                                <input type="url" class="form-control" id="actorPhotoURL" name="photoURL" placeholder="URL Here Please">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <!-- Edit Actor -->
<!--                <form class="crudForm" id="editActor"></form>-->
            </div>
        </div>
    </div>
</div>
<!--<script src="/scripts/update.js"></script>-->
<div th:insert="fragments :: footer"></div>
<script src="/scripts/update.js"></script>
</html>