.card-container{
    display:grid;
    perspective:200em;
}

.card{
    /*border-radius:1em;
    border: .15em solid black;
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.5);*/
    max-height:75vh;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(-180deg);
    z-index:0;
}

.card-flip {
    transform: rotateY(180deg);
}

.card-flip {
    display: grid; grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.front {
    grid-area: frontAndBack;
    z-index:1;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    z-index:0;
}