.card-outer {
    background-color: transparent;
    perspective: 200vw;
    height:50vh;
    width:50vw;
}

.card {
    border-radius:1em;
    border: .15em solid black;
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.5);
    position: relative;
    height:100%;
    width:100%;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.card.flipped{
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}

.card-front{
  -webkit-transform:rotateY(0deg);
  -moz-transform:rotateY(0deg);
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  position:absolute;
}

.card-back{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  position:absolute;
}