html {
    background-color: #b2b2b2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.navbar {
    background-color: #bc5a45;
}

.nav-link, .nav-link:active, .navbar-brand, .nav-link:visited, a {
    color: #fff;
    border: .05em solid #bc5a45;
    border-radius: .25em;
}

/* Changes Start here */ TODO

/*.navbar-brand, .nav-link:hover, a:hover {
    opacity: .5;
}*/


.navbar-brand:hover, .nav-link:hover {
    background-color: #b2b2b2;
    color: #bc5a45;
    border: .05em solid #bc5a45;
    border-radius: .25em;
    /*font-weight: bold;*/
}

/* PAGINATION CSS HERE*/
.dropdown .page-item .show {
    background-color: #bc5a45;
    border-color: #bc5a45;
      color: #bc5a45;
}
.dropdown .show .page-item {
    background-color: #bc5a45;
    border-color: #bc5a45;
      color: #bc5a45;
}
.btn .btn-secondary .dropdown-toggle .page-link {
    background-color: #bc5a45;
    border-color: #bc5a45;
      color: #bc5a45;
}

.page-item {
    border: .05em solid #bc5a45;
    border-radius: .25em;
  }

.page-item a:hover, .page-item a {
  color: #bc5a45;
}

.page-item.active .page-link {
background-color: #bc5a45;
border-color: #bc5a45;
}

li.disabled.page-item a.page-link {
    color: #e3bcb5;
}

li.disabled.page-item {
    border-color: #e3bcb5;
}

.page-item a:active {
    background-color: #bc5a45;
}

a.page-link:hover

a:hover {
    color: #b2b2b2;
    text-decoration: none;
}

.navbar-nav li.active > a {
    background-color: #b2b2b2;
    color: #bc5a45;
    border: .05em solid #bc5a45;
    border-radius: .25em;
}

.navbar-brand.active {
    background-color: #b2b2b2;
    color: #bc5a45;
    border: .05em solid #bc5a45;
    border-radius: .25em;
}



/* End changes */



body {
    background-color: #b2b2b2;
}

.jumbotron {
    background-color: #bc5a45;
    color: #fff;
    border-radius: 1em;
    border: .15em solid #fff;
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.5);
}

.card {
    padding: 10px 10px;
    background-color: #bc5a45;
    border-radius: 1em;
    border: .15em solid #fff;
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.5);
}

.img-fluid {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.result-card{
    min-width: 12em;
}

.display-4 {
    color: #fff;
}

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.card-title {
    word-wrap: normal;
}



